@model Session.Models.Sessions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sessions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbPlace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
